#bg{
    color: aqua;
}

.block {
    background-color: #4CAF50; /* Green */
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }