<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Browse Lawyer</h1>
    <form action="browselawyer.php" method="post">
        <label for="">Lawyer Name</label>
        <input type="text" name="lawyer_name">
        <input type="submit" value="Search">
    </form>
<body style="background-color:rgb(145, 150, 151);">
</body>
</html>