<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html,
        body{
            margin: 0;
        }
        .banner {
            background: rgb(191, 223, 228); 
        }
        .banner__content {
            padding: 5px;
            max-width: 1000;
            margin: 0 auto; 
            display: flex;
            align-items: center;   
        }
    
    </style>
    </head>
    <body>
        <div class="banner">
            <div class = "banner__content"></div>
                <div class="banner__text"></div>
    
                  <h1> <center>Rate my Lawyer</center><h1>
                    <h3><center>Get the law on your side! </center> </h3>
        </div>
    <title>Document</title>
</head>
<body
<body>
<center>    <h1>Browse Lawyer</h1>

    <div class="container">
        <a href="{% url 'main' %}">Home</a>   
        <a href="{% url 'media' %}">Media Page</a>   
        <a href="{% url 'contact' %}">Contact Page</a>   
        <a href="{% url 'browse' %}">Browse Reviews</a>   
        <a href="{% url 'create' %}">Create Review</a>   
    </div>
    <hr>
</center>
<body style="background-color:rgba(244, 123, 135, 0.224);">

<center>
<div style=" text-align: center; padding: 32px 300px">
    <div style = "display: inline-block; text-align: center;">
        <h1>Lawyers Name: {{ comments.name }}</h1>
        <br>
        <h2>Comments:</h2>
        {% for comment in comments.display_comment.all %}
        <br>
        {{comment.author}}
        <br>
        {{comment.text}}
        <br>
        {% endfor %}</p>
        </center>