<!DOCTYPE html>
<html lang="en">
<head>
    <body style="background-color:powderblue;"></body>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratemylawyer</title>
</head>
<body>
    {% extends 'base.html' %}
    {%block content%}
    
    <center>
    <!-- <h1>Rate My Lawyer</h1> -->
    <!-- <p>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/index">Home</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/browse">Browse Reviews</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/create">Create Review</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/contact">Contact</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/media">Media</a>
    </p> -->
    <!-- <br><br>
    <center>   
        <img src="https://tse3.mm.bing.net/th?id=OIP.lNFpn128kaipG2j-fm07CgHaDc&pid=Api&P=0&w=362&h=169" width="1200" height="400">
    <!-- <!-- </center>  -->
   <br><br> 
   <br><br>
<!-- </center> -->
{% endblock %} -->
</body>
</html>