<!DOCTYPE html>
<html lang="en">
<head>

    <!-- <body style="background-color:powderblue;"></body> -->
    <m eta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact </title>
    {% load static%}
     
<!-- </head>  -->
<body style="background-color:rgba(244, 123, 135, 0.224);"></body>
<body img="images/https://tse4.explicit.bing.net/th?id=OIP.b5tGmREKjeOiBL7yo7GigwHaCU&pid=Api&P=0&w=486&h=152">

<body>
    <h1Rate  My  Lawyer h1>
    
    
    <!-- <p>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/index">Home</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/browse">Browse Reviews</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/create">Create Review</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/contact">Contact</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/media">Media</a>
    </p> -->
   <br><br>
        <center>     
        <img src="https://tse3.mm.bing.net/th?id=OIP.lNFpn128kaipG2j-fm07CgHaDc&pid=Api&P=0&" width="100%" height="900"/>
        <center>
        
<br>  
<br>
<br>
</body>
</html>
