<!DOCTYPE html>
<html lang="en">
<head>

    <!-- <body style="background-color:powderblue;"></body> -->
    <m eta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:rgba(244, 123, 135, 0.224);"><body> 
{% load static%}
<style>
    html,
    body{
        margin: 0;
    }
    .banner {
        background: rgb(191, 223, 228); 
    }
    .banner__content {
        padding: 5px;
        max-width: 1000;
        margin: 0 auto; 
        display: flex;
        align-items: center;   
    }
    
    ul {
        list-style-type: none;
    
    }
</style>
<head>

<div class="banner">
<div class = "banner__content"></div>
<div class="banner__text"></div>

<h1> <center>Rate my Lawyer</center><h1>
<h3><center>Get the law on your side! </center> </h3>
</div>
    <title>Contact </title>


     
<!-- </head>  -->
<!-- <body style="background-color:rgba(244, 123, 135, 0.224);"></body> -->
<!-- <body img="images/https://tse4.explicit.bing.net/th?id=OIP.b5tGmREKjeOiBL7yo7GigwHaCU&pid=Api&P=0&w=486&h=152"> -->

<body>
    
        <div><center>
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'media' %}">Media Page</a>
            <a href="{% url 'contact' %}">Contact Page</a>
            <a href="{% url 'browse' %}">Browse Reviews</a>
            <a href="{% url 'create' %}">Create Review</a>
        </center>
            <!-- <a href="/edit/1">Edit Review</a> -->
        </div>
    
    
    <!-- <p>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/index">Home</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/browse">Browse Reviews</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/create">Create Review</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/contact">Contact</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/media">Media</a>
    </p> -->
   <br><br>
       
            <center><img src="{% static 'manny.png' %}" alt="My image"></center>   
       
<center>
      <h2>Contact Us</h2>      
        <p>
            <b>Email:</b>
            <br>
            <a href="ratemylawyerwow@gmail.com">ratemylawyerwow@gmail.com</a>
            <br>
            <br>
            <b>Social Media:</b>
            <br>
            <a href="https://www.instagram.com/ratemylawyerwow/">https://www.instagram.com/ratemylawyerwow/</a>
            <br>
            <br>
        </p>
        <p>
            Created by:
            <br>
            <br>
        <a href="https://www.linkedin.com/in/manuel-ramos-389367190/">Manuel Ramos</a>
        <br>
        <br>
        <a href="https://www.linkedin.com/in/kelvin-a-melgar-0bb62021b/">Kelvin Melgar</a>
        <br>
        <br>
        <a href="https://www.linkedin.com/in/brian-stern2510/">Brian Stern</a>
<center>

        

<br>  
<br>
<br>
<body>
<html>
