<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Review</title>
</head>
<body>
    <style>
        input[type='text'],
        input[type='url'],
        textarea {
            display: block;
        }
    </style>
    
    <!-- {% extends 'base.html' %}
    {%block content%} -->
    <center>
    <h1>Create Lawyer Review</h1>
    <form action="{% url 'edit' id %}" method="POST">
        {% csrf_token %} {{ form }}
        <input type="submit" name="save" value="Save" />
        <input type="submit" name="delete" value="Delete" />
    </form>
    <!-- {% endblock %} -->
    
    
    </center>
</body>
</html>