<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html,
    body{
        margin: 0;
    }
    .banner {
        background: rgb(191, 223, 228); 
    }
    .banner__content {
        padding: 5px;
        max-width: 1000;
        margin: 0 auto; 
        display: flex;
        align-items: center;   
    }

</style>
</head>
<body>
    <div class="banner">
        <div class = "banner__content"></div>
            <div class="banner__text"></div>

              <h1> <center>Rate my Lawyer</center><h1>
                <h3><center>Get the law on your side! </center> </h3>
    </div>
<div class="container">
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'media' %}">Media Page</a>
    <a href="{% url 'contact' %}">Contact Page</a>
    <a href="{% url 'browse' %}">Browse Reviews</a>
    <a href="/create/1">Create Review</a>
    <!-- <a href="/edit/1">Edit Review</a> -->
</div>

<body style="background-image:url('{% static imgs//Users/kelvina.melgar/Desktop/RateMyLawyer/RateMyLawyer/rml/ratemylawyer/static/imgs/clouds.gif' %})" >
    <body style="background-color:rgba(244, 123, 135, 0.224);"></body>
</body>
</html>
<center>
    
<img src="https://tse2.mm.bing.net/th?id=OIP.AmwyAOevT-stO76pbAaViAHaCH&pid=Api&P=0&" 
alt="RateMyLawyer" width="100%" height="1280px" style="-webkit-margin-top-collapse: 900px;">




        
</center>