<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="container">
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'media' %}">Media</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'browse' %}">Browse</a>
</div>

<body style="background-image:url('{% static imgs//Users/kelvina.melgar/Desktop/RateMyLawyer/RateMyLawyer/rml/ratemylawyer/static/imgs/clouds.gif' %})" >
    <body style="background-color:rgba(244, 123, 135, 0.224);"></body>
</body>
</html>
<center>
    
<img src="https://tse2.mm.bing.net/th?id=OIP.AmwyAOevT-stO76pbAaViAHaCH&pid=Api&P=0&" 
alt="RateMyLawyer" width="100%" height="1280px" style="-webkit-margin-top-collapse: 900px;">




        
</center>