<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <body style="background-color:powderblue;"> -->
    <title>Ratemylawyer</title>

</head>
<body>
    <!-- {% extends 'base.html' %}
    {%block content%} -->
<h1>Ratemylawyer</h1>    
<br>
    {% for lawyer in lawyers %}
<div style="padding: 32px 0px">
    <!-- <a href="{% url 'edit' lawyer.lawyer_id %}">Edit Post</a> -->
    <!-- <h2>{{ lawyer.name }}</h2>
    <p>{{ lawyer.address }}</p>
    <p>{{ lawyer.phone}}</p>
    <p>{{ lawyer.email}}</p> -->

    <div>
        <!-- {% for specialty in lawyer.specialties.all %} -->
        <span
            style="color: black; background-color: lightblue; margin-right: 4px"
            >{{ tag.name }}</span
        >
        {% endfor %}
    </div>
</div>
{% endfor %}
<form action="{ % url 'create' id % }">
    <input type="submit" value="Create a new review!" />
</form>
    
    
    <!-- <h1>Rate My Lawyer</h1> -->
    <!-- <p>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/index">Home</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/browse">Browse Reviews</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/create">Create Review</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/contact">Contact</a>
        <a href="<?php echo $base_url; ?>/rml/ratemylawyer/index.php/home/media">Media</a>
    </p> -->
<center>

    <br><br><br>

<!-- {% endblock %} -->
</body>
</html>