<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <body style="background-color:rgba(244, 123, 135, 0.224);"></body>

    <h1>Media</h1>   
<div class="container">
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'media' %}">Media</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'browse' %}">Browse</a>
</div>



</head>


<body>
    <center>
   



    
    
    </center>
</body>
</html>